---
import { ClientRouter } from "astro:transitions";
import Cursor from "../components/Cursor.astro";

import "../styles/global.css";

import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/wdxl-lubrifont-jp-n";

interface Props {
    title: string;
    description?: string;
    image?: string;
}

const ogDescription = "Kainoa Kanter's Portfolio";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.8" />
        <meta name="description" content={ogDescription} />
        <!-- <link rel="icon" href="/favicon.svg"> -->
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="theme-color" content="#9ccfd8" />
        <meta name="og:title" content={Astro.props.title} />
        <meta name="og:type" content="website" />
        <meta name="og:url" content={Astro.url} />
        <meta name="og:description" content={ogDescription} />
        <meta name="og:image" content="/public/og.jpg" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:image" content="/public/og.jpg" />
        <meta name="twitter:site" content="@t1c_dev" />
        <meta name="twitter:creator" content="@t1c_dev" />
        <title>{Astro.props.title}</title>
        <ClientRouter />
        <!-- <script>
      import Lenis from "@studio-freight/lenis";

      const lenis = new Lenis({
        duration: 1.6,
        easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
        orientation: "vertical",
        gestureOrientation: "vertical",
        smoothWheel: true,
        wheelMultiplier: 0.6,
        infinite: false,
      });

      // @ts-ignore
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      window["lenis"] = lenis;
    </script> -->
    </head>
</html>
<body>
    <Cursor />
    <slot />
</body>
